{{- define "main" }}
<header class="page-header">
  <h1>
  </h1>
</header>

{{- range .Pages.ByWeight }}
<article class="post-entry">
  <header class="entry-header">
    <h2 class="entry-hint-parent">
      <a href="{{ .Permalink }}">{{ .Title }}
      </a>
    </h2>
  </header>
  <div class="entry-content">
    {{ .Content }}
  </div>
  {{- if .Params.honor }}
  <h5><em>{{ .Params.honor | safeHTML }}</em></h5>
  {{- else }}
  <h5><em></em></h5>
  {{- end }}
  <footer class="entry-footer">
    {{- if .Params.venueURL }}
    <a href="{{ .Params.venueURL }}" rel="noopener noreferrer" target="_blank">
      <b>{{ .Params.venue }}</b>
    </a>
    {{- else }}
    <b>{{ .Params.venue }}</b>
    {{- end }}
    &nbsp;&middot;&nbsp;<span>{{ .Params.displayDate }}</span><br>{{ .Params.authors }}</footer>
  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{- end }}

{{- end }}
